/* Header */
header {
    display: flex;
    align-items: center;
    height: 90px;
    z-index: 100;
    transition: all 0.4s ease 0s;
}

.search-bar input {
    border: solid 1px #eee;
    width: 35px;
    height: 35px;
    background: white url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 10em;
    padding: 0 10px;
    caret-color: transparent;
    transition: width 0.3s ease, background-position 0.2s, caret-color 0.5s ease 0.3s;
}

.search-bar input:focus {
    width: 200px;
    padding-left: 32px;
    padding-right: 10px;
    border: solid 1px #eee;
    background-position: left 10px center;
    cursor: auto;
    caret-color: black;
}

.theme-switch input {
    display: none;
}

.theme-switch {
    cursor: pointer;
}

.light-theme {
    display: none;
}

.dark-theme {
    font-size: 1.8rem;
    color: var(--bg-color);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle i {
    font-size: 1.8rem;
    color: var(--bg-color);
}

.dropdown-toggle {
    padding: 0;
}

.dropdown-menu {
    box-shadow: 0 20px 62px rgba(4, 20, 69, .1);
    min-width: 14rem;
    height: 0;
    padding: 5px 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.dropdown-menu.show {
    opacity: 1;
    height: 310px;
}

.dropdown-item {
    padding: 7px;
    font-weight: 600;
    transition: all 0.5s;
}

.dropdown-item:first-of-type {
    color: var(--primary-color);
}

.dropdown-item:hover {
    color: var(--primary-color);
    background: transparent;
}

/* Change navbar when scroll */

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-changed {
    height: 70px;
    background: var(--bg-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar-changed .theme-switch i,
.navbar-changed .dropdown i {
    color: var(--header-color);
}

.navbar-changed .navbar .navbar {
    transform: translateY(-3px);
}