* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font: 'Volkhov', serif;
    --bg-color: #fff;
    --bg-gey: #f4f4f4;
    --primary-color: #fb811e;
    --secondary-color: #009f4d;
    --header-color: #060606;
    --font-color: #707070;
}

body {
    color: var(--font-color);
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Source Sans 3', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

form {
    display: block;
}

.small-title {
    color: var(--primary-color);
    font-size: 1.375rem;
    font-family: var(--header-font);
}

.main-title {
    color: var(--header-color);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}

.title-style {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: var(--header-color);
}

.main-btn {
    background-color: var(--primary-color);
    padding: 12px 30px;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.main-btn:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-brand {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-size: 32px;
    position: relative;
    transition: all 0.5s;
}

.navbar-brand i {
    font-size: 20px;
    position: absolute;
    left: 35%;
    top: 3px;
}

.navbar-brand:hover {
    color: var(--header-color)
}

.search-bar input {
    border: solid 1px #eee;
    width: 35px;
    height: 35px;
    background: white url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 10em;
    padding: 0 10px;
    caret-color: transparent;
    transition: width 0.3s ease, background-position 0.2s, caret-color 0.5s ease 0.3s;
}

.search-bar input:focus {
    width: 200px;
    padding-left: 32px;
    padding-right: 10px;
    border: solid 1px #eee;
    background-position: left 10px center;
    cursor: auto;
    caret-color: black;
}

.theme-switch input {
    display: none;
}

.theme-switch {
    cursor: pointer;
}

.light-theme {
    display: none;
}

.dark-theme {
    font-size: 1.8rem;
    color: var(--bg-color);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle i {
    font-size: 1.8rem;
    color: var(--bg-color);
}

.dropdown-toggle {
    padding: 0;
}

.dropdown-menu {
    box-shadow: 0 20px 62px rgba(4, 20, 69, .1);
    min-width: 14rem;
    height: 0;
    padding: 5px 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.dropdown-menu.show {
    opacity: 1;
    height: 310px;
}

.dropdown-item {
    padding: 7px;
    font-weight: 600;
    transition: all 0.5s;
}

.dropdown-item:first-of-type {
    color: var(--primary-color);
}

.dropdown-item:hover {
    color: var(--primary-color);
    background: transparent;
}

/* Banner */
.banner__left {
    left: 10%;
    z-index: 1;
}

.banner__text {
    position: relative;
}

.banner__text p:first-of-type {
    margin: 0;
    font-size: 120px;
    font-family: var(--header-font);
    position: absolute;
    left: -3.5rem;
    top: -6.5rem;
    z-index: -1;
    opacity: 0.08;
    font-weight: 700;
}

.banner__text p:last-of-type {
    font-size: 1.25rem;
}

.main-title {
    font-size: 50px;
    line-height: 60px;
}

.banner__right {
    padding: 0;
}

.carousel-inner {
    border-radius: 0 0 0 20px;
}

.carousel-item:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 17%);
}

.carousel-item {
    height: 100vh;
}

.carousel-subtitle {
    position: absolute;
    right: 28px;
    bottom: 26px;
    color: var(--bg-color);
}

.carousel-subtitle p {
    font-size: 1.1rem;
}

.carousel-subtitle h4 span {
    font-family: 'Source Sans 3', sans-serif;
}

.carousel-subtitle h4 {
    margin-bottom: 0.2rem;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1;
}

.carousel-indicators li.active {
    background-color: var(--primary-color);
}

/* Intro  */

.intro__right .img {
    width: 65px;
    margin: auto;
}

.intro__right .intro__item {
    text-align: center;

    height: 200px;
    background-color: rgba(251, 251, 251, 0.4);
    display: inline;
    border-radius: 30px;
    padding: 10px 20px;
    transition: all .5s;
}

.intro__right .intro__item:hover {
    box-shadow:
        0 0 80px 0 rgba(0, 0, 0, .3);

}


.intro__right .item__bg {
    background-color: var(--bg-color);
    padding: 24px 0;
    border-radius: 30px;

}

.intro__right .item__bg .title-head {
    color: var(--header-color);
    font-weight: 600;
    transition: all 0.5s;
}

.intro__right .item__bg .title-head:hover {
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: none;
}

/* Services  */
.services {
    background-color: var(--secondary-color);
    padding: 100px 0;
    position: relative;
}

.services .services__title {
    padding-bottom: 75px;
}

h4.title-bg-content {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    opacity: .14;
    font-size: 12vw;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.services__content .btn {
    background-color: rgba(0, 159, 77, 16%);
    color: var(--secondary-color);
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 30px;
    margin: 9px 0;
}

.services .services__content a:last-of-type {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--header-color);
    margin: 15px 0;
    transition: all 0.3s;
}

.services .services__content a:last-of-type:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.services .services__content a:first-of-type {
    margin: 0px;
}

.services .services__content .card {
    overflow: hidden;
    border-radius: 25px;
    border: none;
}


/* Products  */
.products {
    padding: 100px 0;
}

.products .products__item {
    position: relative;
    overflow: hidden;


}

.products .products__name h5 {
    width: 85%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 0;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
}

.products .products__item::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}




.products .products__item:hover::after {
    left: 125%;
}





/* Quality */

/* Media queries */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* Keyframes */