* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font: 'Volkhov', serif;
    --bg-color: #fff;
    --bg-grey: #f4f4f4;
    --primary-color: #fb811e;
    --secondary-color: #009f4d;
    --header-color: #060606;
    --font-color: #707070;
    --font-color-white: #fff;
    --border-color-light: #eee;
}

[data-theme="dark"] {
    --bg-color: #222222;
    --bg-grey: #0b0d0e;
    --font-color: #b7b7b7;
    --header-color: #fdfffc;

}

body {
    color: var(--font-color);
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Source Sans 3', sans-serif;
    background: var(--bg-color);
}

h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
}

a {
    color: var(--font-color);
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

form {
    display: block;
}

.container,
.container-fluid {
    padding: 0;
}

.small-title {
    color: var(--primary-color);
    font-size: 1.375rem;
    font-family: var(--header-font);
}

.main-title {
    color: var(--header-color);
    /* font-size: 2.5rem; */
    font-weight: 600;
    font-family: var(--header-font);
}

.main-btn {
    background-color: var(--primary-color);
    padding: 12px 30px;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.main-btn:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.main-intro h3 {
    color: var(--primary-color);
    font-size: 1.375rem;
}

.main-intro h2 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 600;
    color: var(--header-color);
}

.main-intro p {
    margin-top: 1rem;
    line-height: 1.6875rem;
}

.main-logo {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-size: 32px;
    position: relative;
    transition: all 0.5s;
}

.main-logo i {
    font-size: 20px;
    position: absolute;
    left: 34%;
    top: -3px;
}

.main-logo:hover {
    color: var(--header-color)
}

.row {
    margin-left: 0;
    margin-right: 0;
}

p {
    font-size: 1.0625rem;
}

/* Banner */
.banner__left {
    z-index: 1;
    position: absolute;
    padding: 0 30px;
}

.banner__text {
    padding: 30px 30px 30px 50px;
    background: var(--bg-color);
    border-radius: 8px;
    position: relative;
}

.banner__text p:first-of-type {
    margin: 0;
    font-size: 90px;
    font-family: var(--header-font);
    position: absolute;
    left: 1rem;
    top: -0.2rem;
    z-index: -1;
    font-weight: 700;
    color: var(--bg-grey);
}

.banner__text p:last-of-type {
    font-size: 1.1rem;
}

.main-title {
    font-size: 30px;
    line-height: 1.3;
    margin-top: 50px;
}

.banner__right {
    padding: 0;
}

.carousel-inner {
    border-radius: 0 0 0 20px;
}

.carousel-item:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 17%);
}

.carousel-item:first-of-type::before {
    background: rgba(170, 168, 168, 0.1)
}

.carousel-item {
    height: 100vh;
}

.carousel-subtitle {
    position: absolute;
    right: 28px;
    bottom: 26px;
    color: var(--font-color-white);
}

.carousel-subtitle p {
    font-size: 1.1rem;
}

.carousel-subtitle h4 span {
    font-family: 'Source Sans 3', sans-serif;
}

.carousel-subtitle h4 {
    margin-bottom: 0.2rem;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1;
}

.carousel-indicators li.active {
    background-color: var(--primary-color);
}

/* Quality */
.quality__item i {
    color: var(--primary-color);
    font-size: 1.875rem;
    padding-top: 3px;
}

.quality__text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--header-color);
}

.quality__right img {
    border-radius: 30px;
}

.quality__stats {
    background: var(--primary-color);
    padding: 20px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    border-radius: 0 0 100px 0;
    color: var(--font-color-white);
    min-width: 250px;
    bottom: 40px;
    left: -20px;
}

.quality__stats h5 {
    font-size: 3.375rem;
    line-height: 5rem;
    font-weight: 600;
    margin: 0;
}

    .quality__stats span {
        font-size: 1.125rem;
        font-weight: 600;
    }

/* Features */
.features .row {
    margin: 0;
    width: 100%;
}

.features__item {
    margin-top: 30px;
}

.features__content {
    padding: 2rem 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.3 ease-in;
}

.features__text h4 {
    color: var(--header-color);
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.features__text p {
    color: var(--font-color);
    margin: 0;
}

.features__content:hover .features__text h4 {
    color: var(--secondary-color);
}

.features__content:hover {
    border: 1px solid var(--border-color-light);
    transition: 0.4s ease-in;
}

/* Media queries */
@media screen and (min-width: 576px) {
    .banner__text {
        padding: 30px 30px 30px 50px;
    }
    .banner__text p:first-of-type {
        font-size: 90px;
    }
}

@media screen and (min-width: 768px) {
    .banner__left {
        padding: 0 15px;
        position: initial;
    }
    .banner__text {
        left: 10%;
        margin: 0;
        width: 120%;
        padding-right: 15px;
        background: transparent;
    }

    .main-title {
        font-size: 2rem;
        line-height: 1.3;
    }

    .banner__text p:first-of-type {
        font-size: 80px;
        left: 0.2rem;
        top: 0.8rem;
    }
    .quality__stats {
        padding: 40px;
        left: -80px;
        min-width: 300px;
    }
    .quality__stats h5 {
        font-size: 4.375rem;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .banner__left {
        padding: 0;
    }
    .banner__text {
        width: 105%;
        left: 20%;
        padding: 30px 20px;
    }
    .main-title {
        font-size: 3rem;
        line-height: 1.3;
    }

    .banner__text p:first-of-type {
        font-size: 110px;
        left: -2rem;
        top: -0.8rem;
    }
}

/* Keyframes */